{% extends "layout.html" %}
{% block body %}
  <h1>About</h1>
  <p>The Black-Fraud Project!

The Black Friday in Brazil is popularly known by "the black fraud". It looks like the vendors increase the prices of products weeks before and get them decreased for the Black Friday, so they seem to have a good deal on some products.

This project aims to extract a permanent price history from products sold on e-commerce portals. The idea is collect the price history of several products during a whole year, so customers will be able to compare the prices during different seasons' sales. 

Furthermore, the collected data will provide information about the price fluctuations, which will allow many different features to the system. For example, a customer may be able to bid for a product and set the price she is willing to pay for that product. A recommendation system can be developed to notify the customer whenever the price of the desired product is below the bid.

As a proof of concept, a series of scripts were developed in order to extract the price history information of common products from the web site: www.bondfaro.com.br/. The web site provides a one-month price history of products from different e-commerce sites. 

For now, the amount of data extracted is not significant, but it will increase considerably with the increase in the amount of products and over time.</p>
{% endblock %}
