{% extends "layout.html" %}
{% block body %}
<h1>LG Smarphone Price History</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs" role="tablist">
      {% for product_name, history_product in histories.items() %}
        <li role="presentation">
          <a href="#{{product_name|replace(' ','')}}" aria-controls="home" role="tab" data-toggle="tab">{{ product_name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for product_name, history_product in histories.items() %}
      <div role="tabpanel" class="tab-pane" id="{{product_name|replace(' ','')}}">
        <table class="table">
          <thead>
            <th>Day</th>
            <th>Price</th>
          </thead>
          {% for record in history_product['historicos'] %}
          <tbody>
            <tr>
              <td>{{ record['data'] }}</td>
              <td>R$ {{ record['precomax'] }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $('ul.nav-tabs a').tab('show');
  $('ul#menu .active').removeClass('active');
  $('li#menu-home').addClass('active');
</script>
{% endblock %}
